DOMAIN=messenger.shamilfrontend.ru
ACME_EMAIL=you@example.com

MONGO_USER=shomik
MONGO_PASSWORD=change-me
MONGO_DB=shomik-messenger

JWT_SECRET=change-me-to-a-long-random-string
JWT_EXPIRES_IN=7d

FRONTEND_URL=https://messenger.shamilfrontend.ru
VITE_API_URL=https://messenger.shamilfrontend.ru
VITE_WS_URL=wss://messenger.shamilfrontend.ru
